<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" formControlName="title"required="true">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" formControlName="description" required>
          </div>
  
          <div class="form-group">
            <label>Date</label>
            <input class="form-control" type="date" formControlName="date" required>
          </div>

          <div class="form-group">
            <label>Address</label>
            <input class="form-control" type="text" formControlName="address" required>
          </div>
          
          
          <div class="form-group">
          <label>Image</label>
          <input
            formControlName="image"
            id="file"
            type="file"
            class="form-control"
            (change)="onFileChange($event)">
        </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Add Event</button>
          </div>
        </form>
    </div>
  </div>